@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #e6e6e6;
    background-color: #333;
    font-weight: normal;
    width: auto;
    height: 100%;
    text-align: left;
}
#datumweergave {
  padding: 20px 0 0 20px;
  color: #e6e6e6;
  font-weight: bolder;
}
a {
  color: #e6e6e6;
  text-decoration: none;
}
a:hover {
  color: #CC7A00;
}
.nav {
background-color: #333;
color: #e6e6e6;
list-style: none;
text-align: center;
padding: 10px 10px 10px 10px;
}
.nav > li {
float: none;
display: inline-block;
padding-right: 10px;

}
.nav > li a {
text-decoration: none;
color: #CCA700;
font-size: 14px;
text-align: center;
}
.nav > li a:hover {
  color: #333;
}
.logo {
  color: #CC7A00;
text-align: left;
float: left;
padding-left: 10px;
font-size: 26px;
font-weight: bold;
}
.logo > a {
  float: left;
  text-decoration: none;
  color: #CC7A00;
}
.logo > a:hover {
  color: #FFFFFF;
}
.banner {
width: 100%;
display: block;
}
.banner > .banner-image {
width: 100%;
display: block;
}

li a, .dropbtn {
    display: inline-block;
    color: #CC7A00;
    font-size: 12px;
    text-align: left;
    padding: 5px 5px;
    background-color: inherit;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #CC7A00;
    color: #FFFFFF;
}
li.dropdown {
    display: inline-block;
    color: #CC7A00;
    }
.dropdown-content {
    display: none;
    font-size: 14px;
    position: absolute;
    background-color: #333;
    width: 140px;
}
.dropdown-content a {
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    text-align: center;
        }
.dropdown-content a:hover {
  border-style: solid;
  background-color: #CC7A00;
  display: block;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
    width: 140px;
}
.table {
    width: 100%;
    font-size: 10pt;
    color: #939393;
    background-color: #333;
}
table, th, td {
  border: 2px solid #939393;
  border-collapse: collapse;
    text-align: left;
    table-layout: inherit;
}

.blockquote {
  background: #333;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

}
.blockquote:before {
  color: #CC7A00;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote::after {
  color: #CC7A00;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}
